body{
  background-image: url("https://github.com/shadow-walker-jr/destiny_text_game/blob/master/Earth_Background.jpg?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
}
.gameInfo{
  width: 25%;
  height: 300px;
  /*background: lightblue;*/
  float: left;
}
.gear{
  width: 25%;
  background: blue;
  float: right;
}
.inventory{
  width: 50%;
  height: 380px;
  float: left;
  background: #74777a;
}
.enemyInfoPic{
  /*background: red;*/
}
.enemyInfo{
  width: 50%;
  /*background: gray;*/
  float: left;
}
.playerInfo{
  width: 50%;
  /*background: green;*/
}
#dregPic, #captainPic, #vandalPic, #servitorPic, #shankPic, #sepiksPrime, #riksisArchon, #skolas{
  width: 75%;
  display: none;
}
.enemyPic{
  width: 50%;
  float:right;
}
.armorDialog{
  display: none;
}
#title{
  width: 100%;
}
.inventorySlots{
  width: 74%;
  float: left;
}
.gear2{
  float: left;
}
.armor, .weapon{
  width: 75%;
  display: block;
  margin: 5px 0px;
}
.stats{
  width: 50%;
  float: right;
}
div.inventorySlots > div.slotBoxLeft > div{
  display: inline;
}
#slot0, #slot7, #slot14{
  margin-left: 14px;
}
.itemDrop{
  width: 13%;
  height: 13%;
}
#title{
  width: 100%;
  margin-bottom: 0px;
}
#title > h2{
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 10px;
}
.slotBoxLeft{
  width: 100%;
  height: 100%;
  margin-top: 0px;
  float: left;
}
.dialogBoxLeft{
  width: 50%;
  float: left;
}
.dialogBoxRight{
  width: 50%;
  float: right;
}
button#saveGame{
  width: 100px;
  height: 25px;
  background: white;
  border-width: 2px;
  border-color: black;
  position: fixed;
  bottom: 95px;
  left: 35px;
}
button#saveGame:active{
  background: #c5c7c9;
  margin-top: 2px;
}
.seperator{
  width: 1%;
  float: left;
  background: black;
  height: 380px;
  margin-right: 10px;
}
.matsInventory{
  flaot: right;
  width: 100%;
  height: 100%;
}
.matsInventory > div > img{
  margin-bottom: 5px;
  display: block;
  width: 7%;
}
#first{
  margin-top: 10px;
}
#slot1, #slot2, #slot3, #slot4, #slot5, #slot6, #slot7, #slot8, #slot9, #slot10, #slot11, #slot12, #slot13, #slot14, #slot15, #slot16, #slot17, #slot18, #slot19, #slot20, #slot0{
  width: 25%;
  height: 25%;
  float: left;
}